<div class="page-header">
  <%= link_to new_apprenticeship_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Apprenticeship
  <% end %>
  <h1>Listing apprenticeships</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @apprenticeships) do |apprenticeship| %>
            <td><%= link_to 'Show', apprenticeship %></td>
        <td><%= link_to 'Edit', edit_apprenticeship_path(apprenticeship) %></td>
        <td><%= link_to 'Destroy', apprenticeship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
