<div class="page-header">
  <%= link_to new_employment_path, data: { behavior: 'modal' }, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Employment
  <% end %>
  <h1>Employment</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Employer</th>
            <th>Occupation</th>
            <th>Position type</th>
            <th>Employment Status</th>
            <th>Salary</th>
            <th>Frequency</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Reason of leaving</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @employments) do |employment| %>
            <td><%= employment.employer %></td>
            <td><%= employment.occupation %></td>
            <td><%= employment.position_type.titleize unless employment.position_type.nil? %></td>
            <td><%= employment.employment_status.titleize unless employment.employment_status.nil?  %></td>
            <td><%= employment.salary %></td>
            <td><%= employment.frequency.titleize  unless employment.frequency.nil? %></td>
            <td><%= employment.start_date %></td>
            <td><%= employment.end_date %></td>
            <td><%= employment.reason_of_leaving %></td>
            <td><%= link_to 'Show', employment %></td>
        <td><%= link_to 'Edit', edit_employment_path(employment) %></td>
        <td><%= link_to 'Destroy', employment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
