<%#= debug @job_zone_desc %>
<% count = 1 %>
<% @job_zone_desc["job_zones"]["job_zone"].each do |jz| %>
<% if count > 3 %>
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
      <tbody>
        <tr>
          <td> <b> <%= jz['title'].split(":").first %> </b> </td>
          <td>  <%= jz['title'].split(":").last %> </td>
        </tr>
        <tr>
          <td> <b> Experience </b> </td>
          <td> <%= jz['experience'] %> </td>
        </tr>
        <tr>
          <td> <b> Education </b> </td>
          <td> <%= jz['education'] %> </td>
        </tr>
        <tr>
          <td> <b> Job Training </b> </td>
          <td> <%= jz['job_training'] %> </td>
        </tr>
        <tr>
          <td> <b> Examples </b> </td>
          <td> <%= jz['examples'] %> </td>
        </tr>
    </tbody>
  </table>
  </div>
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
          <tr>
          <th> Careers </th>
          <th width="15%"> Bright Outlook </th>
          <th width="15%"> Green </th>
          <th width="15%"> Registered Apprenticeship </th>
        </tr>
        </thead>
      <tbody>
        <% @zone_results[count]["careers"]["career"].each do |career| %>
          <tr>
          <!-- <td> <%#= radio_button_tag(jz['title'].split(":").first.split.join.underscore, true) %>&nbsp;  <%#= career['title'] %> </td> -->
          <td> <%= link_to "#{career['title']}", edit_interest_profiler_path(career['code'].gsub(/[^0-9]/, '')),id: "hyperlink" %> </td>
          <td> <%= check_box_tag 'bright_outlook', '', (career['tags']['bright_outlook'] == 'true') , disabled: true %> </td>
          <td> <%= check_box_tag 'green', 'yes', (career['tags']['green'] == 'true'), disabled: true %> </td>
          <td> <%= check_box_tag 'apprenticeship', 'yes', (career['tags']['apprenticeship'] == 'true') , disabled: true %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <% end %>
  <br>
  <br>
  <% count = count + 1 %>
<% end %>