<div class="page-header">
  <%= link_to interest_profilers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Search by Occupation</h1>
</div>

<div class="row">
   <%= form_tag  job_search_path("All") ,:method => :get do  %>
        <%= label_tag "What" %>
        <%= text_field_tag :keyword %>
        <%= label_tag "Where" %>
        <%= text_field_tag :location %>
    <%= submit_tag "Submit", class: "btn btn-success btn-lg"%>
    <% end %>
</div>


