<div class="page-header">
  <%= link_to new_career_plan_outcome_path,  class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Create Activity
  <% end %>
  <h1>Activity - Master</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Job seeker</th>
            <th>Activity</th>
            <th>Start date</th>
            <th>Planned Hours</th>
            <th>Activity Status</th>
            <th>Reason( If not Completed)</th>
            <th>Outcome</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @career_plan_outcomes) do |career_plan_outcome| %>
            <td><%= career_plan_outcome.job_seeker_id %></td>
            <td><%= career_plan_outcome.activity.titleize %></td>
            <td><%= career_plan_outcome.start_date %></td>
            <td><%= career_plan_outcome.planned_hours %></td>
            <td><%= career_plan_outcome.completed %></td>
            <td><%= career_plan_outcome.reason %></td>
            <td><%= career_plan_outcome.outcome %></td>
            <td><%= link_to 'Show', career_plan_outcome %></td>
        <td><%= link_to 'Edit', edit_career_plan_outcome_path(career_plan_outcome) %></td>
        <td><%= link_to 'Destroy', career_plan_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Detail', work_search_blogs_path%></td>

      <% end %>
    </tbody>
  </table>
</div>
