<div class="page-header">
  <%= link_to career_plan_outcomes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_career_plan_outcome_path(@career_plan_outcome), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Activity</h1>
</div>

<dl class="dl-horizontal">
  <dt>Job seeker:</dt>
  <dd><%= @career_plan_outcome.job_seeker_id %></dd>

  <dt>Activity:</dt>
  <dd><%= @career_plan_outcome.activity.titlize %></dd>

  <dt>Start date:</dt>
  <dd><%= @career_plan_outcome.start_date %></dd>

  <dt>Planned Hours:</dt>
  <dd><%= @career_plan_outcome.planned_hours %></dd>

  <dt>Activity Status:</dt>
  <dd><%= @career_plan_outcome.completed.titlize %></dd>

    <dt>Reason (If not completed):</dt>
  <dd><%= @career_plan_outcome.reason %></dd>

  <dt>Outcome:</dt>
  <dd><%= @career_plan_outcome.outcome %></dd>

</dl>
