<%= form_for(@employment, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @employment.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@employment.errors.count, "error") %> prohibited this employment from being saved:</h4>

      <ul>
      <% @employment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :employer, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :employer, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
  <%= f.label :occupation, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :occupation, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :position_type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :position_type, Employment.position_types.keys.to_a.map { |w, v| [w.titleize, w] } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :employment_status, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :employment_status, Employment.employment_statuses.keys.to_a.map { |w, v| [w.titleize, w] } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :salary, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :salary, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :frequency, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">

       <%= f.select :frequency, Employment.frequencies.keys.to_a.map { |w, v| [w.titleize, w] } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :start_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :start_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :end_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :end_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :reason_of_leaving, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%#= f.text_field :reason_of_leaving, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
