<div class="page-header">
  <%= link_to employments_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_employment_path(@employment), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Employment</h1>
</div>

<dl class="dl-horizontal">
  <dt>Employer:</dt>
  <dd><%= @employment.employer %></dd>

  <dt>Occupation:</dt>
  <dd><%= @employment.occupation %></dd>

  <dt>Position type:</dt>
  <dd><%= @employment.position_type.titleize %></dd>

  <dt>Employment status:</dt>
  <dd><%= @employment.employment_status.titleize %></dd>

  <dt>Salary:</dt>
  <dd><%= @employment.salary %></dd>

  <dt>Frequency:</dt>
  <dd><%= @employment.frequency.titleize %></dd>

  <dt>Start date:</dt>
  <dd><%= @employment.start_date %></dd>

  <dt>End date:</dt>
  <dd><%= @employment.end_date %></dd>

  <dt>Reason of leaving:</dt>
  <dd><%= @employment.reason_of_leaving %></dd>

</dl>
