<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Education Details") %> </legend><br>

<%= form_tag  next_wizard_path, :method => :get do %>


      <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
           <tr>  <th><%= radio_button_tag :barrier_1 , 0 , @edu.include?("Less than a high school diploma") %></th> <td><%= label_tag "Less than a high school diploma" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,1 , @edu.include?("High school degree or equivalent (e.g. GED)") %></th> <td><%= label_tag "High school degree or equivalent (e.g. GED)" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,2 , @edu.include?("Some college, no degree") %></th> <td><%= label_tag "Some college, no degree" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,3 , @edu.include?("Associate degree (e.g. AA, AS)") %></th> <td><%= label_tag "Associate degree (e.g. AA, AS)" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,4 , @edu.include?("Bachelor’s degree (e.g. BA, BS)") %></th> <td><%= label_tag "Bachelor’s degree (e.g. BA, BS)" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,5 , @edu.include?("Master’s degree (e.g. MA, MS, MEd)") %></th> <td><%= label_tag "Master’s degree (e.g. MA, MS, MEd)" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,6 , @edu.include?("Professional degree (e.g. MD, DDS, DVM)") %></th> <td><%= label_tag "Professional degree (e.g. MD, DDS, DVM)" %></td> </tr>
           <tr>  <th><%= radio_button_tag :barrier_1 ,7 , @edu.include?("Doctorate (e.g. PhD, EdD)") %></th> <td><%= label_tag "Doctorate (e.g. PhD, EdD)" %></td> </tr>
    </thead>
  </table>
</div>
    <!--   <div>
      <%#= label_tag "Number of years:" %>
      <%#= number_field_tag :years %>
      </div> -->

  		<br>
  		<br>
<%= link_to "Prev", previous_wizard_path, :class => 'btn btn-primary' %>
<%= submit_tag "Next", :class => 'btn btn-primary' %>
<% end %>
</section>
</fieldset>