<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Barriers") %> </legend><br>
<%= form_tag  next_wizard_path, :method => :get do %>

   <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
           <tr>  <th><%= check_box_tag :barrier_1 ,"Transportation" , @client.barriers.include?("Transportation")  %></th> <td><%= label_tag "Transportation" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_2 ,"Child Care and Parenting" , @client.barriers.include?("Child Care and Parenting")  %></th> <td><%= label_tag "Child Care and Parenting" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_3 ,"Housing" , @client.barriers.include?("Housing") %></th> <td><%= label_tag "Housing" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_4 ,"Pregnancy" , @client.barriers.include?("Pregnancy") %></th> <td><%= label_tag "Pregnancy" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_5 ,"General Health" , @client.barriers.include?("General Health") %></th> <td><%= label_tag "General Health" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_6 ,"Mental Health" , @client.barriers.include?("Mental Health")%></th> <td><%= label_tag "Mental Health" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_7 ,"Substance Abuse" , @client.barriers.include?("Substance Abuse")%></th> <td><%= label_tag "Substance Abuse" %></td> </tr>
           <tr>  <th><%= check_box_tag :barrier_8 , "Domestic Violence" , @client.barriers.include?("Domestic Violence")%></th> <td><%= label_tag "Domestic Violence" %></td> </tr>
    </thead>
  </table>
</div>


  		<br>
  		<br>



<%= link_to "Prev", previous_wizard_path, :class => 'btn btn-primary' %>
			<%= submit_tag "Next", :class => 'btn btn-primary' %>
<% end %>
</section>
</fieldset>