<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Employment Goals") %> </legend><br>

<%= form_tag  next_wizard_path, :method => :get do %>


      <div>
      <%= label_tag "Goal 1:" %>
      <%= select_tag :Goal1 ,options_for_select(@occupations.map { |obj| [obj['title'], obj['onetsoc_code']] }.insert(0,"Please select a occupation") , @goals[0] ) %>

       </div>
       <br>
      <div>
      <%= label_tag "Goal 2:" %>
      <%= select_tag :Goal2 ,options_for_select(@occupations.map { |obj| [obj['title'], obj['onetsoc_code']] }.insert(0,"Please select a occupation") ,@goals[1]) %>
      </div>
      <br>
      <div>
      <%= label_tag "Goal 3:" %>
      <%= select_tag :Goal3 ,options_for_select(@occupations.map { |obj| [obj['title'], obj['onetsoc_code']] }.insert(0,"Please select a occupation") ,@goals[2]) %>
  		</div>
  		<br>
      <div>
      <%= label_tag "Goal 4:" %>
      <%= select_tag :Goal4 ,options_for_select(@occupations.map { |obj| [obj['title'], obj['onetsoc_code']] }.insert(0,"Please select a occupation"),@goals[3]) %>
      </div>
      <br>
  		<br>
<%= submit_tag "Next", :class => 'btn btn-primary' %>
<% end %>

</section>
</fieldset>
