<fieldset>
  <section class="solidbody">

<legend> <%= set_subheader("Recommended Occupation(s)") %> </legend><br>

<table class="table table-striped table-bordered">
        <thead>
              <tr>
              <th width="45%"> Occupation </th>
              <th width="45%"> Job Listings </th>
              <th width="45%"> Training Listings </th>
              <th width="45%"> Apprenticeship Listings </th>
              <th width="45%"> Agency Listings </th>


            </tr>
            </thead>
          <tbody>
            <% @occupation_details_array.each do |occp| %>
              <tr>
              <td>  <%= link_to occp[:title], edit_interest_profiler_path(occp[:title]) %></td>
              <td> <%= link_to get_job_count(occp[:title]),job_search_path(occp[:title]) %></td>
              <td> <%= link_to get_training_count(occp[:code]),training_path(occp[:title]) %></td>
              <td> <%= link_to get_apprentice_count(occp[:code]) ,apprenticeship_path(occp[:title]) %></td>
              <td> <%= link_to get_agency_count(occp[:code]) , agency_provider_path(occp[:title])%></td>

            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @occupation_details_array %>

      <!-- <%#= link_to question_path(:question_1_10), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <%# end %> -->

   </section>
</fieldset>