
<%= form_for @user, url: users_admin_index_path(@user)  do |f| %> 
   <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this activity from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <ol>

      <li class="required">
        <%= f.label :name %>
        <%= f.text_field :name, size: 40, autofocus: true %>
      </li>
      
      <li class="required">
        <%= f.label :email %>
        <%= f.email_field :email, size: 40 %>
      </li>
      <!-- <li class="required">
        <%#= f.label :password %>
        <%#= f.password_field :password, size: 40 %>
      </li>
      <li class="required">
        <%#= f.label :password_confirmation, "Confirm Password" %>
        <%#= f.password_field :password_confirmation, size: 40 %>
      </li> -->
     

    </ol>
    <p>
      <% if @user.new_record? %>
        <%= f.submit "Create Account" %>
      <% else %>
        <%= f.submit "Update Account" %>
      <% end %>
      <%= link_to "Cancel", users_admin_index_path, class: 'btn btn-primary' %>
    </p>
  </fieldset>
<% end %>