<p id="notice"><%= notice %></p>

<h1>Listing Agency Providers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agency_providers.each do |agency_provider| %>
      <tr>
        <td><%= link_to 'Show', agency_provider %></td>
        <td><%= link_to 'Edit', edit_agency_provider_path(agency_provider) %></td>
        <td><%= link_to 'Destroy', agency_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency provider', new_agency_provider_path %>
