

<div class="page-header">

<%= link_to interest_profilers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
</div>
<fieldset>
  <section class="solidbody">
   <legend> <%= set_subheader("Agency Providers for #{params[:id]}") %> </legend><br>
<table class="table table-striped table-bordered">
        <thead>
              <tr>
              <th> Name </th>
              <th> Contact Person </th>
              <th> Phone </th>
              <th> Email </th>
              <th> Address </th>
            </tr>
            </thead>
          <tbody>
            <% if @gency_providers.present? %>
               <% @gency_providers.each do |key,val| %>
                <tr>
                <td><%= key["provider_name"] %></td>
                <td> <%= key["contact_person"] %></td>
                <td> <%= key["phone_number"] %></td>
                <td> <%= key["email_address"] %></td>
                <td> <%= key["address_line1"].to_s + " "+ key["address_line2"] + " "+ key["city"].to_s + ", "+key["state"].to_s + " - "+key["zip"] %></td>


              </tr>
            <% end %>
            <% end %>
        </tbody>
      </table>

       </section>
</fieldset>