
<tr class='nested-fields'>
  <td class="value">
    
    <%= f.collection_select :category, MasterDomain.where("id in (?)", [2,3,4,5,6,7,8]).order(:id),:id,:description, { id: 'category_selected' ,class: 'form-control' }  %>
    

  </td>
  <td class="short_description">
     <%= f.grouped_collection_select :course, MasterDomain.where("id in (?)", [2,3,4,5,6,7,8]).order(:id), :master_domain_items, :description, :id, :short_description,  { id: 'course_selected' ,class: 'form-control'}   %>
          
    
  </td>
  <td class="long_description">
      <%= f.select :status, MasterDomainItem.item_list(9).collect { |p| ["#{p.short_description} ", p.id] }, { :include_blank => 'Select Course' } , { id: 'status_selected',class: 'form-control' } %>
     

  </td>
   <td class="status">
    <%= f.text_field :score  %>
  </td>
   
  <td class="usage">
    <%= link_to_remove_association "remove course", f %>
  </td>
</tr>


  