<%= simple_form_for(@education) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :school_name , label: "School Name" %>
    
    <%= f.input :high_grade_level, :label => "Highest Grade", :collection => Education.high_grade_levels.keys %>
    <%= f.input :effective_beg_date , as: :date,  discard_day: true, label: "High School graduation" %>
    <%= f.input :expected_grad_date , as: :date,  discard_day: true, label: "Expected Graduation" %>

  </div>
  <h3>Major Courses</h3>
  <div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <!-- <th>Category</th> -->
        <th width="25%" >Course</th>
        <th width="25%"">Status</th>
        <th width="15%"">Score</th>
        <th width="35%"">Action</th>
    </tr>
    </thead>
    <tbody class='items'>
      <%= f.simple_fields_for :education_details do |builder| %>
        <%= render 'education_detail_fields', f: builder %>
      <% end %>
    </tbody>
  </table>
 </div>
 
  <div class="form-actions">
 <br>   
    <%= f.button :submit , class: 'btn btn-primary' %>
    <%= link_to_add_association 'Add Major Course', f, :education_details, class: 'btn btn-primary' %>
    <%= link_to educations_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @education, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
    <%#= link_to 'Show', @domain , class: 'btn btn-primary' %> |
    <%#= link_to 'Back', domains_path, class: 'btn btn-primary' %>
  </div>
<% end %>



