<div class="page-header">
  <%= link_to educations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_education_path(@education), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show education</h1>
</div>

<dl class="dl-horizontal">
  <dt>School name:</dt>
  <dd><%= @education.school_name %></dd>

  <dt>Attendance type:</dt>
  <dd><%= @education.attendance_type %></dd>

  <dt>Effective beg date:</dt>
  <dd><%= @education.effective_beg_date %></dd>

  <dt>Effective end date:</dt>
  <dd><%= @education.effective_end_date %></dd>

  <dt>Major study:</dt>
  <dd><%= @education.major_study %></dd>

  <dt>High grade level:</dt>
  <dd><%= @education.high_grade_level %></dd>

  <dt>Expected grad date:</dt>
  <dd><%= @education.expected_grad_date %></dd>

  <dt>Degree obtained:</dt>
  <dd><%= @education.degree_obtained %></dd>

 

</dl>
