<div class='nested-fields'>
<tr class="item">
  <td class="value">
    <%= f.text_field :value  %>
  </td>
  <td class="short_description">
    <%= f.text_field :short_description  %>
  </td>
  <td class="long_description">
    <%= f.text_field :long_description  %>
  </td>
   <td class="status">
    <%= f.text_field :status  %>
  </td>
   <td class="usage">
    <%= f.text_field :usage  %>
  </td>
  <td class="usage">
    <%= link_to_remove_association "remove item", f %>
  </td>
</tr>


  </div>


