<div id="footer">
	<ul>
		<%= link_to  "Privacy", "#"%>
		<%= link_to  "Terms & Conditions", "#"%>
		<%= link_to  "Security", "#"%>
		<%= link_to  "Accessibility", "#"%>
		<%= link_to  "Feedback", "#"%>
		<%= link_to  "Caddy", "#"%>
		<a href="https://services.onetcenter.org/" title="This site uses information from O*NET Web Services. Click to learn more."><img src="https://www.onetcenter.org/image/link/onet-in-it.gif" width="140" height="50" alt="O*NET in-it" border="0"></a>

		<div id="translator" class="row">
			<div class="col-md-3 col-md-offset-5">
                <div style="text-align: left;" id="google_translate_element" class="large-2 medium-4 small-8 large-centered columns">
                </div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({pageLanguage: 'la'}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
        </div>
	</ul>

</div>